html {
    height: 100vh;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*Image url: https://unsplash.com/photos/2QUvkQTBh5s*/
    background-image: url(../images/dark-sky.jpg);
    background-color: rgba(44, 41, 49, 0.15);
    background-blend-mode: exclusion;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

main section {
    padding: 2em 2em 3em;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

#leftBlock,
#middleBlock,
#rightBlock {
    background: rgba(44, 41, 49, 0.05);
    border: 1px solid rgba(44, 41, 49, 0.1);
    box-shadow: 5px 5px 50px 20px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    margin: 1%;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    height: 92vh;
    margin-top: 10px;
}

@media only screen and (max-width: 1550px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #rightBlock {
        grid-column-start: 1;
        grid-column-end: 3;

        grid-row-start: 2;
        grid-row-end: 3;
    }

    .tabContentBlock {
        height: 50vh !important;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #middleBlock {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 2;
    }

    #rightBlock {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 3;
        grid-row-end: 4;
    }

    .tabContentBlock {
        height: 50vh !important;
    }
}

#closeDetailPageButton {
    box-shadow: 6px 5px 20px 6px rgba(227, 193, 182, 0.1);
    background-color: rgba(178, 86, 69, 0.65);
    border: 1px solid rgba(178, 86, 69, 0.4);
    border-radius: 3px;
    padding: 3%;
    width: 40%;
    color: black;
    text-transform: uppercase;
    font-size: 9.5pt;
    letter-spacing: 3px;
    text-align: center;
}

#closeDetailPageButton:hover {
    background-color: rgba(17, 23, 30, 0.77);
    border: 1px solid rgba(118, 140, 167, 0.1);
    color: rgb(118, 140, 167);
    cursor: pointer;
}

#leftBlock {
    color: rgb(227, 193, 182);
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

#addFavButton {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url(../images/heart.png);
    cursor: pointer;
}

#addFavButton:hover {
    background-color: rgba(178, 86, 69, 0.5);
    border: 1px solid rgba(178, 86, 69, 0.3);
    border-radius: 2px;

}

.movieInfoBlock {
    padding: 1em 2em;
    background: rgba(44, 41, 49, 0.25);
    border: 1px solid rgba(44, 41, 49, 0.1);
    box-shadow: 5px 5px 50px 20px rgba(227, 193, 182, 0.1);
    border-radius: 3px;
    margin-top: 1em;
    height: 8vh;
    overflow-y: auto;
    color: rgb(227, 193, 182);
    letter-spacing: 2px;
}

#movieDetailIMDBLink,
#movieDetailTMDBLink {
    text-decoration: none;
    color: rgb(118, 140, 167);
}

#movieDetailPosterBlock {
    padding: 5em;
}

#movieDetailPoster:hover {
    cursor: pointer;
    opacity: 0.7;
}

#tabButtonBlock {
    display: flex;
}

#tabButtonBlock .tab,
#tabButtonBlock .tab.selected {
    padding: 1em 0 0.25em 0;
    background: rgba(30, 28, 33, 0.65);
    border: 1px solid rgba(30, 28, 33, 0.3);
    box-shadow: 5px 5px 50px 20px rgba(0, 0, 0, 0.55);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 2em;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
}

#tabButtonBlock .tab:hover {
    box-shadow: 5px 5px 50px 20px rgba(0, 0, 0, 0.55);
    background-color: rgba(17, 23, 30, 0.85);
    border: 1px solid rgba(17, 23, 30, 0.8);
    color: rgb(118, 140, 167);
    cursor: pointer;
}

.tabContentBlock {
    height: 68vh;
    overflow-y: scroll;
    background: rgba(30, 28, 33, 0.7);
    border: 1px solid rgba(30, 28, 33, 0.3);
    box-shadow: 5px 5px 50px 20px rgba(0, 0, 0, 0.55);
    padding: 1.5em 0em 1.5em 1.5em;
    border-radius: 3px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(227, 193, 182);
}

.tabContentBlock .contentRow {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.tabContentBlock.cast .contentRow {
    grid-template-columns: 0.7fr 0.4fr 1fr;
}

#crewList {
    display: none;
}

.loadingSymbol {
    width: 30%;
    height: auto;
}

#loadingSymbolDefaultView img {
    width: 10%;
    height: auto;
}

#largerMovieDetailPoster {
    display: absolute;
}

/*CSS code url: https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: none;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 35%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: darkred;
    float: right;
    font-size: 128px;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: rgba(85, 0, 0, 0.755);
    text-decoration: none;
    cursor: pointer;
}

/*End imported css code*/

#movieId {
    display: none;
}

/* background image credit design */
footer:after {
    content: 'Photo by Johannes Plenio on Unsplash';
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    color: rgb(222, 162, 145);
    letter-spacing: 2px;
    font-style: italic;
    font-size: 9.5pt;
}