html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(../images/dark-sky.jpg);
    background-color: rgba(44, 41, 49, 0.3);
    background-blend-mode: exclusion;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: table;
}

.box{
    background: rgba(44, 41, 49, 0.05);
    border: 1px solid rgba(44, 41, 49, 0.25);
    border-radius: 6px;
    box-shadow: 5px 5px 50px 15px rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5%;
}

h2{
    margin-top: 0;
    margin-bottom: 20%;
    text-transform: uppercase;
    font-size: 2.75rem;
    font-weight: bolder;
    text-align: center;
    color: black;
    letter-spacing: 5px;
}

input[type=text], 
input[type=password], 
input[type=email]{
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(111, 68, 70, 0.5);
    border: 1px solid rgba(111, 68, 70, 0.7);
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5%;
    padding-left: 10px;
    letter-spacing: 1.5px;
}

input[type=submit]{
    width: 312.5px;
    height: 50px;
    font-size: 1.15rem;
    font-weight: bold;
    text-transform: lowercase;
    box-shadow: 6px 5px 20px 15px rgba(255, 255, 255, 0.15);
    background-color: rgba(178, 86, 69, 0.65);
    border: 1px solid rgba(178, 86, 69, 1);
    border-radius: 4px;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 2px;
}

input[type=submit]:hover{
    box-shadow: 6px 5px 20px 3px rgba(0, 0, 0, 0.7);
    background-color: rgba(17, 23, 30, 0.77);
    border: 1px solid rgba(118, 140, 167, 0.1);
    color: rgb(118, 140, 167);
    cursor: pointer;
    letter-spacing: 2px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 5%;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    color: rgb(26, 33, 43);
}

form ul li label{
    float: left;
    margin-bottom: 10px;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

li{
    list-style: none;
}

li p{
    display: none;
    font-size: 20pt;
}

li p:hover{
    cursor: pointer;
}

footer:after{
    content: 'Photo by Johannes Plenio on Unsplash';
    color: rgb(222, 162, 145);
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 9.5pt;
  }