html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(../images/dark-sky.jpg);
    background-color: rgba(44, 41, 49, 0.35);
    background-blend-mode: exclusion;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: table;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 6px 5px 20px 3px rgba(0, 0, 0, 0.95);
    background: rgba(44, 41, 49, 0.05);
    border: 1px solid rgba(44, 41, 49, 0.25);
    border-radius: 6px;
    padding: 4em;
}

h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: black;
}

input[type=text], input[type=password], input[type=email] {
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.5);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: white;
}

input[type=submit]{
    width: 315px;
    height: 50px;
    font-size: 15px;
    background-color: black;
    border-color: black;
    color: #fff;
    border-radius: 6px;
}

input[type=submit]:hover{
    cursor: pointer;
}

a{
    position: relative;
    top: 10px;
}

a:link{
    color: white;
}

p{
    color: red;
}

form ul li label{
    float: left;
    margin-bottom: 10px;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

li{
    list-style: none;
}

li p{
    display: none;
    font-size: 20pt;
}

li p:hover{
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    color: rgb(222, 162, 145);
    letter-spacing: 2px;
    font-style: italic;
    font-size: 9.5pt;
  }